.container {
	display: flex;
	flex-direction: column;

	margin: 0 100px;
}

.header {
	font-size: 32px;
	margin: 20px 30px;
}

.main-section {
	border-radius: 20px;
	padding: 30px;

	display: grid;
	grid-template-rows: 100px max-content;
	grid-template-columns: 50% 50%;
	grid-gap: 20px;
}

.main-section > .input-group {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	background-color: rgba(255, 255, 255, 90%);
	padding: 30px;

	grid-column: span 2;
}

.input-group > .input-elem-section {
	display: flex;
	align-items: center;
}

.input-elem-section > .autofill-icon {
	width: 40px;
	height: 40px;

	cursor: pointer;
}

.input-elem-section > .input {
	align-self: center;

	width: 60vw;
	line-height: 50px;
	padding: 0 20px;
	border: 1px solid grey;
	font-size: 14px;
	margin-right: 10px;
}

.input-group > .alert {
	color: red;
	margin-top: 10px;
}

.main-section > :is(.original, .final) {
	height: 50vh;

	background-color: rgba(255, 255, 255, 90%);
	padding: 40px;
	overflow-y: scroll;
}

.main-section > .original {
	grid-area: 2 / 1;
}

.main-section > .final {
	grid-area: 2 / 2;
}

.hidden {
	display: none;
}

/* item */
.item-container {
	display: flex;
	align-items: center;
}

.item-container.original-group {
	background-color: rgba(255, 204, 39, 80%);
}

.item-container.final-group {
	background-color: rgba(128, 179, 19, 80%);
}

.item-container > .item-index {
	width: 60px;
	text-align: center;
	font-size: 28px;
}

.item-container > .item-turn {
	flex: 1;
	display: grid;
	grid-template-columns: 50% 50%;

	align-items: stretch;
}

.item-turn > :is(.item-turn__black, .item-turn__white) {
	padding: 10px;
	text-align: center;
}

.item-turn > .item-turn__black {
	background-color: black;
	color: white;
}

.item-turn > .item-turn__white {
	background-color: white;
	color: black;
}

@media only screen and (max-width: 768px) {
	.container {
		margin: 0;
	}

	.header {
		font-size: 24px;
		margin: 10px 30px;
	}

	.main-section {
		grid-template-rows: 100px max-content max-content;
		grid-template-columns: 100%;

		padding: 0px;
	}

	.main-section > .input-group {
		padding: 10px;
		grid-column: span 1;
	}

	.input-elem-section > .input {
		width: 100%;
		line-height: 65px;
		border: none;

		font-size: 16px;
		text-align: center;
	}

	.main-section > .original {
		grid-area: 2 / 1;
	}

	.main-section > .final {
		grid-area: 3 / 1;
	}

	.main-section > :is(.original, .final) {
		height: 300px;
		padding: 10px;
	}
}
